@font-face {
  font-family: 'Fredoka One';
  src: url('https://raw.githubusercontent.com/mbaffico/mangaibo/main/FredokaOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
